/*
    Made for https://preview.naroors.pl/
    Public Usage Allowed, 
    MIT Licensed.


    Something doesn't work/Want to suggest some changes? 
    Feel free to open an issue on GitHub:
    https://git.naroors.pl/issues
*/

/* Importing the other CSS files, so that we will not need to worry about massive .html link lines */
@import url("../components/_classes.css");
@import url("../components/_navbar.css");
@import url("../components/_footer.css");


:root { /* Why do we use :root? Because we use variables, variables are VERY important in modern styling. 
    /* Colors */
    --clr-blue: #2563eb; /* Why do I start with Colors? Well I don't have a clue :P, I just like it that way :) */
    --clr-red: #dc2626;
    --clr-green: #16a34a;
    --clr-emerald: #059669;
    --clr-lime: #65a30d;
    --clr-yellow: #facc15;
    --clr-amber: #fbbf24;
    --clr-orange: #ea580c;
    --clr-teal: #0d9488;
    --clr-cyan: #06b6d4;
    --clr-sky: #0284c7;
    --clr-indigo: #4f46e5;
    --clr-violet: #7c3aed;
    --clr-purple: #9333ea;
    --clr-fuchsia: #c026d3;
    --clr-pink: #db2777;
    --clr-rose: #e11d48;
    --clr-slate900: #0f172a;
    --clr-slate800: #1e293b;
    --clr-slate700: #334155;
    --clr-slate600: #475569;
    --clr-slate500: #64748b;
    --clr-slate400: #94a3b8;
    --bg-color: #f8fafc;
    --text-color: #09090b;
    /* Colors */
    
    /* Sizes */
    --size-xsm: 0.5rem;
    --size-sm: 0.75rem;
    --size-md: 1rem;
    --size-lg: 1.25rem;
    --size-xl: 1.5rem;
    --size-xxl: 1.75rem;
    --size-3xl: 2rem;
    --size-4xl: 2.5rem;
    --size-5xl: 3rem;
    --size-6xl: 4rem;
    /* Sizes */

    /* Font Stuff & Line-height */
    --font-family: "Segoe UI", "Roboto", "Helvetice Neue", Arial, sans-serif, "Apple Color Emoji";
    --line-height: calc(var(--font-size) * 1.5); /* Usually, in most cases this is the most preferred line-height. */
    --font-size: calc((100vg / 80) * 0.5); /* This is just a pure estimate, do what fits you the best. */
    --font-weight: 600;
    /* Font Stuff & Line-height */
} /* For now this should be enough */

:root[data-theme="dark"] { /* I add this to make the page a liitle more interactive? sort of, it just checks if the user has a dark theme and applies the settings for it. Useful right? */
    /* Colors */
    --clr-blue: #3b82f6;
    --clr-red: #ef4444;
    --clr-green: #22c55e;
    --clr-emerald: #10b981;
    --clr-lime: #84cc16;
    --clr-yellow: #fbbf24;
    --clr-amber: #f59e0b;
    --clr-orange: #f97316;
    --clr-teal: #14b8a6;
    --clr-cyan: #06b6d4;
    --clr-sky: #0ea5e9;
    --clr-indigo: #6366f1;
    --clr-violet: #8b5cf6;
    --clr-purple: #a855f7;
    --clr-fuchsia: #d946ef;
    --clr-pink: #ec4899;
    --clr-rose: #f43f5e;
    --clr-slate900: #1f2937;
    --clr-slate800: #374151;
    --clr-slate700: #4b5563;
    --clr-slate600: #6b7280;
    --clr-slate500: #9ca3af;
    --clr-slate400: #d1d5db;
    --bg-color: #1b1c1c;
    --text-color: #f9fafb;
    /* Colors */
}

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--clr-blue);
    text-decoration: none;
    transition: text-decoration 0.3s;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--bg-color);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-weight);
    color: var(--text-color);
}

h1 {
    font-size: var(--size-6xl);
}

h2 {
    font-size: var(--size-5xl);
}

h3 {
    font-size: var(--size-4xl);
}

h4 {
    font-size: var(--size-3xl);
}

h5 {
    font-size: var(--size-2xl);
}

h6 {
    font-size: var(--size-xl);
}

p {
    font-size: var(--size-md);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,td {
    padding: var(--size-sm);
    text-align: left;
    border-bottom: 1px solid var(--clr-slate400);
}

th {
    font-weight: var(--font-weight);
}

td {
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

code {
    font-family: "Fira Code", monospace;
    font-size: var(--size-md);
    width: var(--size-lg);
    height: var(--size-lg);
    padding: var(--size-sm);
    background-color: var(--clr-slate400);
    color: var(--clr-slate900);
    box-sizing: border-box;
}

pre {
    font-family: "Fira Code", monospace;
    font-size: var(--size-md);
    background-color: var(--clr-slate400);
    color: var(--clr-slate900);
    text-align: center;
    padding: var(--size-sm);
    border-radius: var(--size-sm);
}

pre code {
    background-color: transparent;
    color: var(--clr-slate900);
    padding: 0;
    border-radius: 0;
}

blockquote {
    font-size: var(--size-md);
    font-style: italic;
    border-left: 4px solid var(--clr-slate400);
    padding: var(--size-sm);
    margin: var(--size-sm) 0;
}

blockquote p {
    margin: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote footer {
    font-size: var(--size-sm);
    font-weight: var(--font-weight);
    color: var(--clr-slate500);
}

b {
    font-weight: var(--font-weight-bolder);
}

strong {
    font-weight: var(--font-weight);
}

i {
    font-style: italic;
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

sup {
    font-size: var(--size-sm);
    vertical-align: super;
    line-height: 0;
}

sub {
    font-size: var(--size-sm);
    vertical-align: sub;
    line-height: 0;
}

ul,ol {
    padding-left: var(--size-md);
    margin: var(--size-sm) 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

/* Global Styles */

/* Classes */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-break {
    word-break: break-word;
}

.text-nowrap {
    white-space: nowrap;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-nodeco {
    text-decoration: none;
}

.text-deco-under {
    text-decoration: underline;
}

.text-deco-over {
    text-decoration: overline;
}

.text-deco-through {
    text-decoration: line-through;
}

.text-deco-blink {
    text-decoration: blink;
}

.text-deco-solid {
    text-decoration: solid;
}

.text-deco-double {
    text-decoration: double;
}

.text-deco-dotted {
    text-decoration: dotted;
}

.text-deco-dashed {
    text-decoration: dashed;
}

.text-deco-wavy {
    text-decoration: wavy;
}

.text-deco-inherit {
    text-decoration: inherit;
}

.text-deco-initial {
    text-decoration: initial;
}

.text-deco-unset {
    text-decoration: unset;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

/* Padding & Margins */
.p0{padding:.5rem;}

.p1{padding:.75rem;}

.p2{padding:1rem;}

.p3{padding:1.25rem;}

.p4{padding:1.5rem;}

.p5{padding:1.75rem;}

.p6{padding:2rem;}

.p7{padding:2.5rem;}

.p8{padding:3rem;}

.p9{padding:4rem;}

.p10{padding:5rem;}

.m0{margin:.5rem;}

.m1{margin:.75rem;}

.m2{margin:1rem;}

.m3{margin:1.25rem;}

.m4{margin:1.5rem;}

.m5{margin:1.75rem;}

.m6{margin:2rem;}

.m7{margin:2.5rem;}

.m8{margin:3rem;}

.m9{margin:4rem;}

.m10{margin:5rem;}
/* Padding & Margins */




/* Classes  */




